
<div class="container">
  <div class="row" style="text-align:center">
    <div class="col-12">
      <p class="appName" style="">Winer</p><br>
      <div class="logo">
        <img class="img-responsive" src="assets/images/grapesLogo.png" alt="grapes" width="125pt" height="125pt">
      </div>
    </div>
  </div>
  <div class="accessForm">
    <div class="row">
      <div class="col-12">
          <div class="fieldName">
            <p>Usuario</p>
          </div><br>
          <div class="fieldLine">
            <input type="text" class="field">
          </div><br>
          <div class="fieldName ps">
            <p>Contraseña</p>
          </div><br>
          <div class="fieldLine">
            <input type="text" class="field">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="loginButton">
          <a href="#">INICIAR SESIÓN</a>
        </div>
      </div>
    </div>
    <div class="row">
      <span class="forgetOption">¿Has olvidado tu contraseña?</span>
    </div>
  </div>
  <div class="row">
    <div class="registration">
      <span class="registration">Registrarse</span>
    </div>
  </div>
</div>
