<div class="header">
  <div class="row">
    <div class="col-2 menuIcon">
      <img src="assets/images/menuIcon.png" alt="menu" width="48px" height="48px">
    </div>
    <div class="col-8 menuLabel">
      <span>Nueva parcela</span>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>

<div class="parcelInfo">
  <div class="parcelName">
    <input #parcelName type="text" class="ParcelNameInput" value="Parcela 1">
  </div>
  <div class="pencilIcon">
    <img src="assets/images/pencilIcon.png" alt="place" width="20px" height="20px">
  </div>
</div>

<div class="row">
  <div class="parcelArea">
    <div class="col-12">
      <div class="icon">
        <img src="assets/images/sensorIcon.png" alt="place" width="40px" height="40px">
      </div>
      <div class="areaName">
        <span style="cursor:pointer" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="sensorCollapse">Sensores</span>
      </div>
      <div class="arrowIcon" *ngIf="isCollapsed; else notCollapsed">
        <img src="assets/images/arrowDownIcon.png" alt="place" width="40px" height="40px">
      </div>
      <ng-template #notCollapsed>
        <img src="assets/images/arrowUpIcon.png" alt="add" width="40px" height="40px">
      </ng-template>
      <div id="sensorCollapse" [ngbCollapse]="isCollapsed" class="collapseList">
        <ul id="ul">

        </ul>
        <ul>
          <li id="newSensorField" [ngbCollapse]="newSensor" class="collapseList">
            <div class="addAtt">
              <input #sensor type="text" class="newSensorField" id="nfInput">
              <img (click)="addSensor(sensor.value)" src="assets/images/addIcon.png" alt="add" width="25px" height="25px">
            </div>
          </li>
        </ul>
        <div (click)="newSensor = !newSensor" [attr.aria-expanded]="!newSensor" aria-controls="newSensorField" class="addIcon">
          <img src="assets/images/addIcon.png" alt="add" width="35px" height="35px">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="parcelArea">
    <div class="col-12">
      <div class="icon">
        <img src="assets/images/waterIcon.png" alt="place" width="40px" height="40px">
      </div>
      <div class="areaName">
        <span style="cursor:pointer" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="treatmentCollapse">Tratamientos</span>
      </div>
      <div class="arrowIcon" *ngIf="isCollapsed2; else notCollapsed">
        <img src="assets/images/arrowDownIcon.png" alt="place" width="40px" height="40px">
      </div>
      <ng-template #notCollapsed>
        <img src="assets/images/arrowUpIcon.png" alt="add" width="40px" height="40px">
      </ng-template>
      <div id="treatmentCollapse" [ngbCollapse]="isCollapsed2" class="collapseList">
        <ul id="ul2">
        </ul>
        <ul>
          <li id="newTreatmentField" [ngbCollapse]="newTreatment" class="collapseList">
            <div class="addAtt">
              <input #treatment type="text" class="newTreatmentField" id="nftInput">
              <img (click)="addTreatment(treatment.value)" src="assets/images/addIcon.png" alt="add" width="25px" height="25px">
            </div>
          </li>
        </ul>
        <div (click)="newTreatment = !newTreatment" [attr.aria-expanded]="!newTreatment" aria-controls="newTreatmentField" class="addIcon">
          <img src="assets/images/addIcon.png" alt="add" width="35px" height="35px">
        </div>
      </div>
    </div>
  </div>
</div>

<div (click)="addParcel(parcelName.value)" (click)="open(content)" class="check">
  <img src="assets/images/checkIcon.png" alt="add" width="35px" height="35px">
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <p>Parcela añadida</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cerrar</button>
  </div>

</ng-template>
