/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    background-color: #4B1A21 !important;
    font-family: 'Lato', sans-serif !important;
}

mat-button-toggle mat-button-toggle-appearance-standard mat-button-toggle-checked cdk-focused cdk-touch-focused {
    background-color: #3A1D21 !important;
}